<%- include('.../partials/header') %>

<form action="/flights/<%= flight.id %>/tickets/new" method="POST">
    <label>Price:</label>
<input name="seat" required pattern="[A-F][1-9]\d?">
</label>
<label>Price:</label>
<input type="text"
name="price"
value="0">
<label for="flight">Flight Number</label>
<input type="submit" id="ticket">
</form>


<%- include('.../partials/footer') %>