<%- include('../partials/header') %>

    <h1><%= title %></h1>

    <form action="/flights" method="POST">
        <label for="Airlines"><br>
            <select name="airline">
                <option value="United">United</option>
                <option value="Spirit">Spirit</option>
                <option value="Delta">Delta</option>
                <option value="American">American</option>
            </select>
        </label><br>

        <label for="Airport"><br>
            <select name="airport">
                <option value="LAX">LAX</option>
                <option value="LIH">LIH</option>
                <option value="IAH">IAH</option>
                <option value="DEN">DEN</option>
            </select>
        </label><br>

        <label for="Flight Number"><br>
            <input type="number" name="flightNo">
        </label><br>

        <label for="Departure"><br>  
            <input type="datetime-local" name="departs" value="Departure">
        </label><br>
        <br>
        <button type="submit">Save</button>  

    </form>

<%- include('../partials/footer') %>